# Use full name and real mail addresses
Joey Hess <joey@kitenet.net> <joey@a4a2c43b-8ac3-0310-8836-e0e880c912e2>
# Unify sub-domains.
<joey@kitenet.net> <joey@gnu.kitenet.net>
<joey@kitenet.net> <joey@kodama.kitenet.net>
