Source: dpkg-repack
Section: admin
Priority: optional
Build-Depends-Indep: debhelper
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.1.1.1

Package: dpkg-repack
Architecture: all
Depends: perl5 | perl (>= 5.004)
Description: puts an unpacked .deb file back together
 dpkg-repack creates a .deb file out of a debian package that has already
 been installed. If any changes have been made to the package while it was
 unpacked (ie, files in /etc were modified), the new package will inherit
 the changes.
 .
 This utility can make it easy to copy packages from one computer to another,
 or to recreate packages that are installed on your system, but no longer
 available elsewhere, or to store the current state of a package before you
 upgrade it.
